/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Young+Serif&display=swap'); /* Young Serif */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap'); /* Outfit */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis globais */
:root {
    /* Cores */
    --body-bgColor: hsl(30, 54%, 90%);
    --article-bgColor: hsl(0, 0%, 100%);
    --dishInfo-bgColor: hsl(330, 100%, 98%);
    --textColor: hsl(30, 10%, 34%);
    --h1-color: hsl(24, 5%, 18%);
    --h2-color: hsl(14, 45%, 36%);

    /* Espaçamentos */
    --text-spacing: 16px 0px;

    /* Fontes */
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Young Serif', serif;
}

/* Cor do body */
body {
    background-color: var(--body-bgColor);
}

/* Estilizando a tag article */
article {
    /* Cores de fundo */
    background-color: var(--article-bgColor);

    /* Espaçamentos e tamanhos */
    border-radius: 8px;
    padding: 32px;
    max-width: 720px;
    width: 100%;

    /* Centralizando article na página */
    display: block;
    margin: 24px auto;
    
}

/* Estilizando a imagem dentro de article */
article img {
    width: 100%;
    border-radius: 8px;
}

/* Títulos h1 */
h1 {
    /* Espaçamento */
    margin: var(--text-spacing);
    color: var(--h1-color);
    font-family: var(--font-secondary);
    
    /* Fonte */
    font-weight: 400;
}

/* Títulos h2 */
h2 {
    /* Espaçamento */
    margin: var(--text-spacing);
    color: var(--h2-color);
    
    /* Fonte */
    font-family: var(--font-secondary);
    font-weight: 400;
}

/* Paragrafos */
p {
    /* Espaçamento */
    margin: var(--text-spacing);
    color: var(--textColor);

    /* Fonte */
    font-family: var(--font-primary);
    font-weight: 400px;

}

/* ------ Estilizando a seção dish info  -----------------------*/
.dish-info {
    /* Cor de fundo */
    background-color: var(--dishInfo-bgColor);
    padding: 16px;

    /* Borda arredondada */
    border-radius: 16px;
}

.dish-info h2 {
    /*Cores e espaçamentos */
    margin: 0;
    padding-left: 8px;
    color: hsl(332, 51%, 32%);

    /* Fonte */
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 16px;

}

ul li {
    /* Espaçamentos */
    padding: 0px 16px;
    margin: 16px 28px;
    color: var(--textColor);
    font-family: var(--font-primary);
}

ul li::marker {
    color: hsl(332, 51%, 32%); /* cor da bolinha */
}

strong {
    /* Fonte */
    color: var(--textColor);
    font-family: var(--font-primary);
    font-weight: 700;
    
}
/* --------------------------------------------------------- */

/*------------ Estilização da section ingredients --------- */
.ingredients {
    margin: 24px 0px;
}

.ingredients ul li::marker {
    color: var(--h2-color)
}
/* --------------------------------------------------------- */

/* ------------ Estilização da section instructions ------- */
.instructions {
    margin: 24px 0px;
}

.instructions ol li {
    padding: 0px 16px;
    margin: 16px 28px;
    text-align: justify;
    color: var(--textColor);
    font-family: var(--font-primary);
}

.instructions ol li::marker {
    color: var(--h2-color);
    font-weight: 700;
}
/* --------------------------------------------------------- */

/* Estilizando a section nutrition */
.nutrition table {
    width: 100%;
    border-collapse: collapse;

}

.nutrition table tbody tr {
    border-bottom: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
}

/* Espaçamento entre as células */
.nutrition table th, .nutrition table td {
    padding: 15px 0; 
}

/* Removendo a borda do último tr */
.nutrition table tbody tr:last-child {
    border-bottom: none;
}

.nutrition table th {
    text-align: left;
    padding-left: 24px;
    /* Fonte */
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--textColor);
    
}

/* Alinhando o texto das células da segunda coluna  */
.nutrition table td {
    text-align: right;
    padding-right: 50%;

    /* Fonte */
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--h2-color);
}